@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  

  --body-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Raleway', sans-serif;
}

.attribution {
  font-size: 11px; text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}